<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>
<div>
    <a th:href="@{admin/new}">New User</a>
</div>
<br>
<br>
<div th:align="center">
    <table th:border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.getId()}">ID</td>
            <td th:text="${user.getName()}">First Name</td>
            <td th:text="${user.getLastName()}">Last Name</td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:text="${user.getRoles()}">Role</td>
            <td><a th:href="@{admin/edit={id}(id=${user.getId()})}">Edit</a></td>
            <td><a th:href="@{admin/delete={id}(id=${user.getId()})}">Delete</a></td>
        </tr>
    </table>
</div>
<br>
<br>
<div><a th:href="@{/logout}">Logout</a></div>
</body>
</html>