<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>
<div>
    <form th:method="POST" th:object="${user}">
        <label for="namePost">First Name: </label>
        <input type="text" th:field="*{name}" id="namePost"/>
        <br>
        <br>
        <label for="lastNamePost">Last Name: </label>
        <input type="text" th:field="*{lastName}" id="lastNamePost"/>
        <br>
        <br>
        <label for="agePost">Age:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label>
        <input type="text" th:field="*{age}" id="agePost"/>
        <br>
        <br>
        <label for="emailPost">Email:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label>
        <input type="text" th:field="*{email}" id="emailPost"/>
        <br>
        <br>
        <label for="passwordPost">Password: &nbsp </label>
        <input type="text" th:field="*{password}" id="passwordPost"/>
        <br>
        <br>
        <select name="select">
            <option th:each="r:${roles}" th:value="${r.id}" th:text="${r.role}"></option>
        </select>
        <input type="submit" value="Create!"/>
    </form>
</div>
</body>
</html>